<mat-toolbar>

   <button mat-raised-button="true" routerLink="/login" routerLinkActive="active">Увійти</button>
  <button mat-raised-button="true"routerLink="/singup" routerLinkActive="active">Реєстрація</button>
</mat-toolbar>
<mat-tab-group class="mat-body">
  <mat-tab label="Для чого створений цей сайт?">
    <h1>Створюйте власні тести!</h1>
    <p>Цей ресурс був створений для того, щоб кожен із вчителів не витрачав купу часу на підготовку бланків для самостійних робіт та різних тестів.</p>
  </mat-tab>
  <mat-tab label="Як користуватись?">
    <br>
    <h1>1. Реєстрація!</h1>
    <p>Нажаль, без реєстрації ваші запити можна порівняти з пустим відром.</p>
    <br><hr>
    <br>
    <h1>2. Обери свою роль у цій системі!</h1>
    <p>Ти можеш бути або учнем, або вчителем.</p>
    <br><hr>
    <br>
    <h1>3. Обери свою роль у цій системі!</h1>
    <p>Ти можеш бути або учнем, або вчителем.</p>
    <br><hr>

  </mat-tab>
</mat-tab-group>

